:root {
  --c-divider: #f0f0f0;
}

body {
  background-color: var(--vp-c-bg) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.outline-title {
  color: var(--vp-c-text-1);
}

.demo-block {
  --c-bg: var(--vp-c-bg);
  --vp-code-block-color: var(--vp-c-text-1);;
}

.tag-list-add {
  display: inline-flex;
  align-items: center;
}
